html,
body {
	padding: 0;
	margin: 0;
}

body,
select {
	font-family: Roboto, sans-serif;
	font-size: 0.9em;
}

#content {
	padding: 1em;
}


/* line chart */
div.chart {
	font-size: 10px;
}

div.chart path,
div.chart line {
  fill: none;
}

div.chart .x.axis path {
  display: none;
}

div.chart path.line {
  stroke-width: 1.75px;
}

/* Form */
.form-field {
	margin: 2em 0;
}

.form-field label {
	color: #bbb;
	display: block;
	margin-bottom: .25em;
}

/* Bid ask table */
table.bid-ask-table thead tr,
table.bid-ask-table tr:nth-child(even) {
	background-color: #f9f9f9;
}
