html,
body {
	padding: 0;
	margin: 0;
	font-family: Roboto, sans-serif;
}

#content {
	padding: 1em;
}

.chart:nth-child(odd) {
	background-color: #f9f9f9;
}

.chart {
	font-size: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.75px;
}
